@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
$font-family-sans-serif: 'Roboto',
sans-serif;
$font-size-base: 0.875rem;
$desktop: 992px;

$vector-blue: "../images/Vector_blue.png";
$bg-login: "../images/port.png";
$icon-eye: "../images/eye.png";
$icon-cross-eye: "../images/cross-eye.png";
$arrow-select: "../images/arrow-select.png";
$arrow-up: "../images/arrow-up.png";
$slick-next: "../images/slick-next.png";
$icon-edit: "../images/icon-edit.png";
$icon-calendar: "../images/icon-calendar.png";
$icon-arrow-down: "../images/icon-arrow-down.png";
$icon-arrow-up: "../images/icon-arrow-up.png";
$icon-escalation: "../images/icon-escalation.png";
$icon-block-info: "../images/icon-block-info.png";
$icon-post: "../images/post.png";
$sort-asc: "../images/sort_asc.png";
$icon-calendar: "../images/icon-calendar.png";
$icon-time: "../images/icon-time.png";
$icon-check: "../images/check.png";
$icon-check-radio: "../images/check-radio.png";
$arrow-breadcrumb: "../images/arrow-breadcrumb.png";
$search-ticket: "../images/search-ticket.png";
$loading: "../images/ajax-loader.gif";

$body-color: #4F4F4F;
$body-bg: #F3F6FB;
$login-bg: #E5E5E5;
$white: #ffffff;
$black: #000000;

$default: #EAEAEA;
$theme: #600973;
$light-theme: #751E88;
$h-dark-blue: #2F3292;
$h-blue: #05AEF1;
$h-green: #3CB87A;
$dark-green: #1a6f44;
$link-color: #2F80ED;

$info: #56CCF2;
$warning: #F2C94C;
$success: #6FCF97;
$danger: #EB5757;

$danger-hover: #ca3838;
$pink: #D96B93;
$purple: #BB6BD9;
$light-purple: #AB9DFF;
$light-orange: #FFEDDE;
$orange: #FD7E14;
$orange-hover: #F17004;
$yellow: #FFD301;
$yellow-hover: #E9C104;
$light-blue: #D7F5FF;
$color-icon: #E0E0E0;
$bg-input-file: #F2F2F2;
$bg-thead: #99BCC7;
$bg-dropdown: #9B51E0;
$color-text: #525252;
$text-grey: #D3D3D3;
$text-grey-light: #C4C4C4;
$border-color: #D4D4D4;
$border-table: #CCCCCC;
$grey: #D3D3D3;
$grey1: #F6F8F9;
$border-input: #828282;
$bg-tr: #F4F5FB;
$text-light: #BDBDBD;
$text-light-hover: #ACA9A9;
$color-btn-login: #5F0872;
$blue-view: #2F9CBD;
$blue-view-hover: #17728e;
$bg-tbody-inner: rgba(242, 242, 242, 0.7);
$bg-desc: #F8F8F8;
$action-color: #E7F1F8;
$border-menu-color: #E6ECF0;
$pagination-color: #56CCF2;
$bg-dropdown: #333333;
$bg-filter: #F5F8FA;
$bg-cancel: #ACA9A9;
$bg-opening: #D0B6D5;
$bg-empty-sidebar: #F9F9F9;
$filter-status: #FCEEAD;
$blue-light-1: #E4F2F6;
$color-date: #B6C2D6;
$color-link: #0A6598;
$light-purple: #99A5C7;
$light-purple1: #B6C2D6;
// status
$opened: #27AE60;
$bg-opened: #C1FFDB;
$waiting: #F2994A;
$bg-waiting: #FFE9D6;
$bg-closed: #EBEBEB;
$bg-new: #FFDEDE;
$bg-new-minute: #219653;
//gradien
$bg-tbody: #f6f6f6;
$theme-from: rgba(36, 75, 188, 1);
$theme-to: rgba(98, 203, 240, 1);
$overlay: rgba(0, 0, 0, 0.66);
$green-from: rgba(14, 163, 115, 1);
$green-to: rgba(15, 239, 139, 1);
$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
$box-shadow-tbody: 0px 0px 3px rgba(0, 0, 0, 0.1);
$modal-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$input-file-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
$filter-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
$nav-link: rgba(153, 188, 199, 0.3);
$dropdown-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);